
										/*		Global Styling		*/
										
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

html {
  font-size: 10px;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  background-color: #fff;
  color: hsl(243, 87%, 12%); 
}
#header-main, #hero, #features, #sign-up, #footer {
  min-width: 280px;
  max-width: 1100px;
  margin: 0 auto;
}
img {
  user-select: none;
  max-width: 100%;
}
h1{font-size:2.8rem;}h2{font-size:2.1rem;}h3{font-size:1.8rem;}h4{font-size:1.4rem;}
h1, h2, h3, nav, .btn {
  font-family: 'Raleway', sans-serif;
}
a {
  font-weight: 600;
  text-decoration: none;
  letter-spacing: .07em;
}
.text {
  line-height: 1.6;
  margin-top: 2.5rem;
}
form {
  margin: 3rem auto 2rem;
}
input {
  display: block;
  height: 4rem;
  width: 90%;
  margin: auto;
  max-width: 375px;
  padding: 0 2rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(243, 87%, 12%);
}
input[type='submit'] {
  margin: 2rem auto 0;
  font-weight: 600;
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  border: none;
  cursor: pointer;
  letter-spacing: .07em;
  padding: 0;
}
input[type='submit']:hover {
  background-color: hsl(224, 93%, 68%);
}
main::before {
  content: '';
  display: block;
  width: 100%;
  height: 60px;
  background-image: url(../images/bg-curve-mobile.svg);
  background-size: 100% 100%;
}
main > div {
  background-color: #f8f8fe;
}

          /*		Global Media Queries		*/

@media (min-width: 760px)  {
  html {
    font-size: 10.7px;
  }
  form {
    display: flex;
  }
  main::before {
    background-image: url(../images/bg-curve-desktop.svg);
    height: 100px;
  }
} 
@media (min-width: 960px) {
  html {
    font-size: 11.4px;
  }
  
}

                    /*		Global Styling Ends		*/

                    /*		Section Header		*/

#header {
  position: relative;
}
#header-main-wrap{
  width: 100%;
  height: auto;
  background-color: hsla(240, 75%, 98%, 0.95);
  position: fixed;
  top: 0;
	box-shadow: 0 2px 2px rgba(30,30,30,0.4);
}
#header-main {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-main .img-wrapper {
  width: 20vw;
  max-width: 120px;
}
#header-main #nav-bar {
  width: 55vw;
  max-width: 300px;
}
#nav-bar ul a {
  color: inherit;
}
#nav-bar ul a:hover {
  text-decoration: underline;
}
#nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 5px;
}
#hero {
  padding: 15rem 1.5rem 8rem;
  text-align: center;
}
#hero h1 {
  margin-top: 5rem;
}

          /*		Header Media Queries		*/

@media (min-width: 760px)  {
  #hero {
    padding-top: 15.5rem;
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    align-items: center;
  }
  #hero .img-wrap, #hero-desc-wrap {
    flex: 1;
  }
  #hero form {
    display: flex;
  }
  #hero h1 {
    margin-top: 0;
  }
  #hero .img-wrap {
    padding-left: 2rem;
  }
  #hero input {
    width: 50%;
    margin: 0 1.8rem 0 0;
  }
  #hero input[type='submit'] {
    margin: 0;
    width: 35%;
  }

}

                    /*		Section Features		*/

#features {
  padding: 8rem 1.5rem;
}
#features h3 {
  text-align: center;
  margin-top: 5rem;
}
#features-content-wrap > p {
  color: hsl(238, 22%, 44%);
}
#features-content-wrap > p:not(:first-of-type) {
  margin-top: 2rem;
}
#how-it-works {
	display: block;
  text-align: center;
  width: max-content;
  margin: 3rem auto;
  padding-bottom: 5px;
  border-bottom: 1px solid hsl(170, 45%, 43%);
  color: hsl(170, 45%, 43%);
  display: flex;
  align-items: center;
  cursor: pointer;
	transition: width 500ms 100ms;
}
#how-it-works img {
  margin-left: .5rem;
  width: 2.2rem;
  height: 2.2rem;
	transition: margin-left 500ms 100ms;
}
#how-it-works:hover img {
  margin-left: 1rem;
}
.testimonial {
  margin: 3rem auto;
  background-color: #fff;
  width: calc(100% - 3rem);
	max-width: 30rem;
  border-radius: .5rem;
  box-shadow: 0 0 .7rem .5rem hsla(0, 0%, 75%, 0.3);
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 2rem 2rem;
  font-size: 1.2rem;
}
.testimonial .icon {
  align-self: start;
  width: 2rem;
}
.testimonial p {
  margin-top: 1.5rem;
}
.testimonial .profile {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}
.profile .profile-img-wrap {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.profile .profile-img {
  border-radius: 50%;
}
.profile .profile-name {
  font-weight: 700;
}
.profile .profile-title {
  margin-top: .5rem;
}

          /*		Features Media Queries		*/

@media (min-width: 760px)  {
  #features {
    display: flex;
    flex-direction: row-reverse;
  }
  #features .img-wrap, #features-content-wrap {
    flex: 1;
  }
  #features h3 {
    margin-top: 0;
    text-align: left;
    font-size: 2.6rem;
  }
  #features .img-wrap {
    padding-left: 4rem;
  }
  #how-it-works, .testimonial {
    margin-left: 0;
  }

}

                    /*		Section Sign-up		*/

#sign-up-wrap {
  background-color: hsl(238, 22%, 44%);
  color: #fff;
  text-align: center;
}
#sign-up {
  padding: 8rem 3rem;
}
#sign-up input {
  height: 3.6rem;
  font-size: 1.2rem;
  border: none;
  border-radius: .3rem;
}
#sign-up input[type='submit'] {
  margin-top: 1.7rem;
}

          /*		Sign-up Media Queries		*/

@media (min-width: 760px)  {
  #sign-up {
    display: flex;
  }
  #sign-up #sign-up-text-wrap, #sign-up #form-cta {
    flex: 1;
  }
  #sign-up h3 {
    margin-top: 0;
    text-align: left;
    font-size: 2.6rem;
  }
  #sign-up p {
    text-align: left;
  }
  #sign-up #form-cta {
    flex-direction: column;
    margin: 0 0 0 10rem;
  }
  #sign-up input {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
  #sign-up input[type='submit'] {
    max-width: 20rem;
    width: 60%;
  }

}

                    /*		Section Footer		*/

#footer-wrap {
  background-color: hsl(243, 87%, 12%);
  color: #fff;
}
#footer {
  padding: 8rem 3rem 2rem;
}
.footer-grid {
  margin: 4rem 0 2rem;
}
.contact-details p {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.contact-details img {
  margin-right: 2rem;
}
.about-us, .contact-us {
  list-style: none;
  margin-top: 4rem;
}
.about-us li, .contact-us li {
  margin-bottom: 2rem;
}
.about-us a, .contact-us a {
  cursor: pointer;
}
.about-us a:hover, .contact-us a:hover {
  color: hsl(238, 22%, 68%);
}
.social-links {
  margin: 4rem auto 0;
  text-align: center;
  width: 120px;
  display: flex;
  justify-content: space-between;
}
.social-links i {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 1px solid white;
  line-height: 3rem;
  cursor: pointer;
}
.social-links i:hover {
  border-color: hsl(170, 45%, 43%);
  color: hsl(170, 45%, 43%);
}
.attribution {
  font-size: 11px;
  text-align: center;
	line-height: 1.3;
  padding: 40px 20px 20px;
}
.attribution span {
  display: block;
}
.attribution a {
  color: hsl(170, 45%, 43%);
}

          /*		Footer Media Queries		*/

@media (min-width: 600px) {
  .attribution span {
    display: inline;
  }
}
@media (min-width: 760px) {
	.footer-grid {
    width: 100%;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
  }
  .about-us, .contact-us {
    list-style: none;
    margin: 0;
  }
  .social-links {
    margin: 0;
  }
	
}